#openssl rand -base64 32 GitBash
AUTH_SECRET=

# Propertys Database Postgres
DB_USER=
DB_NAME=
DB_PASSWORD=

#twilio

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

#Epayco
NEXT_PUBLIC_EPAYCO_KEY=
NEXT_PUBLIC_EPAYCO_PRIVATE_KEY=
NEXT_PUBLIC_EPAYCO_CHECKOUT_URL=

NEXT_PUBLIC_PAYCO_RESPONSE_URL=
NEXT_PUBLIC_PAYCO_CONFIRMATION_URL=
NEXT_PUBLIC_PAYCO_CONFIRMATION_ADD_TIME_URL=

#Comision Epayco
NEXT_PUBLIC_EPAYCO_FEE_PERCENTAGE=
NEXT_PUBLIC_EPAYCO_BASE_FEE=
NEXT_PUBLIC_EPAYCO_IVA_PERCENTAGE=
#Comision VibeTel
NEXT_PUBLIC_PLATFORM_FEE_PERCENTAGE=

#ApiVibetel
NEXT_PUBLIC_API_ROUTE=http://localhost:3001/api/

# NodeMailer
EMAIL_USER=
EMAIL_PASSWORD=

# Api Cloudinary
# https://console.cloudinary.com/pm/c-71101bdea551af38c5b20409a0948d/developer-dashboard
CLOUDINARY_URL=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=